form
	label(for='title') title
	input(name='title' type='text')
	label(for='type') type
	select(name='type')
		option breakfast
		option lunch
		option dinner
		option snack
		option drink
	.ingredients-checklist
	label.label-placeholder
	input(type='submit' value='Submit')