.chooser
	.nav
		ul 
			li.tab-produce produce
			li.tab-spices spices
			li.tab-meat meat
			li.tab-dairy dairy
			li.tab-cold cold
			li.tab-bread bread
	.pane
		h3.type produce
		ul.type-list 
			li lettuce
			li parsley
	.pane
		h3 spices
		ul
			li fennel
			li pepper
			li salt