form
	label(for='type') type
	input(name='type' type='text')
	label(for='description') description
	input(name='description' type='text')
	label.label-placeholder
	input(type='submit' value='Submit')
.types-list
	ul