doctype html
html
	include includes/mixin
	head 
		include includes/head
	body
		header
			include includes/header
			nav 
				include includes/nav
		main 
			
			block content
		footer
			include includes/footer
			include includes/cordova
		include includes/scripts