extends ../layout

block content
	section.homepage
		section.recipes
			h2 recipes
			ul 
				li blueberry milkshake
				li massuman curry
				li spaghetti bolognase
				li sausage pasta
		section.kitchen
			h2 your kitchen
			article.kitchen-ingredients
				h3 ingredients
				ul 
					li pepper
					li salt
					li paprika
					li chili flakes
					li soy milk
			article.kitchen-recipes
				h3 recipes available
				ul 
					li blueberry smoothie
					li popcorn
					li masuman curry
		section.shopping
			h2 shopping list
			ul 
				li coconut milk
				li brocolli
				li carrots
				li beef stirfry