extends ../layout

block content
	section.recipes
		h2 recipes
		article.recipes-list
			h3 recipe list 
			ul 
				li massuman curry
				li sausage pasta
				li spaghetti bolognase
				li crepes
		article.recipes-available
			h3 recipes available
			ul 
				li blueberry smoothie
				li popcorn