section.groceries
	article.groceries-list
		h3 grocery list
		ul 
			li soy milk
			li beef
			li broccoli
			li carrots
			li rice
			li coconut rice
	article.groceries-recipes
		h3 recipes 
		ul 
			li massuman curry
			li blueberry smoothie