section.kitchen
	div.menu
		h3 menu
		ul 
			li 
				a(href='#') add groceries
			li 
				a(href='#') eat something!
	article.kitchen-available
		h3 ingredients available
		ul 
			li pepper
			li salt
			li paprika
			li chili flakes
			li soy milk
	article.kitchen-recipes
		h3 recipes available
		ul 
			li popcorn
			li blueberry smoothie