section.recipes-list
	.menu
		ul 
			li
				a(href='#add-recipe') add recipe
	article.recipe-list
		h3 recipe list
		ul 
			li recipe 1
			li recipe 2
	article.ingredients
		h3 ingredients
		.ingredient-quickAdd
		ul.ingredients-list
			li herp
			li derp

