-
	home = {
		href: "#",
		title: 'home'
	};
	recipes = {
		href: '#recipes',
		title: 'recipes'
	};
	kitchen = {
		href: '#kitchen',
		title: 'kitchen'
	};
	groceries = {
		href: '#groceries',
		title: 'groceries'
	}

	mainNav = [home, recipes, kitchen, groceries];

ul
	each item in mainNav
		+navList(item)